body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
  }
  
  h2,h3 {
    color: #ff0000;
    margin-left: 20px;
  }
  
  div {
    margin: 0 auto;
    padding: 10px;
    max-width: 900px;
  }
  
  /* Search Bar Styles */
  input[type='text'] {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .results-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  
  .result-item {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .result-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 600px) {
    .search-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    input[type='text'] {
      width: 100%;
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
    }
  }
  
  @media (max-width: 400px) {
    h1 {
      font-size: 1.5em;
    }
  
    .result-item {
      font-size: 14px;
    }
  }
  